In [1]:
#importing required library
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

## Problem 1

In [2]:
df = pd.read_csv('/Users/chitra/Documents/Subjects/Analytic Python/assignment/Assignment4_data.csv')

In [3]:
df.head(4)

    one   two  three  four  five variable
0 -92.0 -76.0  -33.0   3.0 -13.0       B2
1 -21.0  76.0   38.0  -6.0  80.0       B1
2  -2.0 -47.0  -34.0 -86.0 -66.0       A1
3 -76.0  43.0    7.0 -40.0 -42.0       A1

In [4]:
df.isnull().sum()  #checking for nulls in data and it's count

one         5
two         3
three       1
four        6
five        4
variable    0
dtype: int64

In [5]:
# list columns
df.columns

Index(['one', 'two', 'three', 'four', 'five', 'variable'], dtype='object')

#### using fillna() for handling missing value

In [6]:
# filling  null value using fillna() function  

df[['one', 'two', 'three', 'four', 'five']] = df[['one', 'two', 'three', 'four', 'five']].fillna(value=0)

In [7]:
df.isnull().sum()

one         0
two         0
three       0
four        0
five        0
variable    0
dtype: int64

In [8]:
# converting column variable
df = pd.get_dummies(df, columns=['variable'])
df.head()

,one,two,three,four,five,variable_A1,variable_A2,variable_B1,variable_B2
0,-92.0,-76.0,-33.0,3.0,-13.0,0,0,0,1
1,-21.0,76.0,38.0,-6.0,80.0,0,0,1,0
2,-2.0,-47.0,-34.0,-86.0,-66.0,1,0,0,0
3,-76.0,43.0,7.0,-40.0,-42.0,1,0,0,0
4,44.0,37.0,-7.0,-14.0,30.0,1,0,0,0

In [9]:
#Converting the "one” column into 3 bins
df_bin = pd.cut(x=df['one'],bins=3)

In [10]:
df_bin = pd.DataFrame(df_bin)
df_bin

                     one
0    (-209.667, -56.333]
1        (-56.333, 97.0]
2        (-56.333, 97.0]
3    (-209.667, -56.333]
4        (-56.333, 97.0]
..                   ...
195      (-56.333, 97.0]
196      (-56.333, 97.0]
197  (-209.667, -56.333]
198      (-56.333, 97.0]
199      (-56.333, 97.0]

[200 rows x 1 columns]

## Problem 2

In [11]:
s = 'I am happy to join with you today in what will go down in history as the greatest demonstration for freedom in the history of our nation. Five score years ago, a great American, in whose symbolic shadow we stand today, signed the Emancipation Proclamation. This momentous decree came as a great beacon light of hope to millions of Negro slaves who had been seared in the flames of withering injustice. It came as a joyous daybreak to end the long night of their captivity. But one hundred years later, the Negro still is not free. One hundred years later, the life of the Negro is still sadly crippled by the manacles of segregation and the chains of discrimination. One hundred years later, the Negro lives on a lonely island of poverty in the midst of a vast ocean of material prosperity. One hundred years later, the Negro is still languishing in the corners of American society and finds himself an exile in his own land. So we have come here today to dramatize a shameful condition.'
print(len(s))
split_data = s.split()
print(split_data)
print(len(set(split_data)))

987
['I', 'am', 'happy', 'to', 'join', 'with', 'you', 'today', 'in', 'what', 'will', 'go', 'down', 'in', 'history', 'as', 'the', 'greatest', 'demonstration', 'for', 'freedom', 'in', 'the', 'history', 'of', 'our', 'nation.', 'Five', 'score', 'years', 'ago,', 'a', 'great', 'American,', 'in', 'whose', 'symbolic', 'shadow', 'we', 'stand', 'today,', 'signed', 'the', 'Emancipation', 'Proclamation.', 'This', 'momentous', 'decree', 'came', 'as', 'a', 'great', 'beacon', 'light', 'of', 'hope', 'to', 'millions', 'of', 'Negro', 'slaves', 'who', 'had', 'been', 'seared', 'in', 'the', 'flames', 'of', 'withering', 'injustice.', 'It', 'came', 'as', 'a', 'joyous', 'daybreak', 'to', 'end', 'the', 'long', 'night', 'of', 'their', 'captivity.', 'But', 'one', 'hundred', 'years', 'later,', 'the', 'Negro', 'still', 'is', 'not', 'free.', 'One', 'hundred', 'years', 'later,', 'the', 'life', 'of', 'the', 'Negro', 'is', 'still', 'sadly', 'crippled', 'by', 'the', 'manacles', 'of', 'segregation', 'and', 'the', 'chains', 'of', 'discrimination.', 'One', 'hundred', 'years', 'later,', 'the', 'Negro', 'lives', 'on', 'a', 'lonely', 'island', 'of', 'poverty', 'in', 'the', 'midst', 'of', 'a', 'vast', 'ocean', 'of', 'material', 'prosperity.', 'One', 'hundred', 'years', 'later,', 'the', 'Negro', 'is', 'still', 'languishing', 'in', 'the', 'corners', 'of', 'American', 'society', 'and', 'finds', 'himself', 'an', 'exile', 'in', 'his', 'own', 'land.', 'So', 'we', 'have', 'come', 'here', 'today', 'to', 'dramatize', 'a', 'shameful', 'condition.']
110

In [12]:
#finding unique words 
from collections import Counter
Count = Counter(split_data)
Unique_count = Count.most_common(1)
print('Most unique word is ', Unique_count)

Most unique word is  [('the', 14)]

In [13]:
most_appearing_word = 0
for i in split_data:
    if i.startswith('t'):
        most_appearing_word +=1
print('the words count starting with t is ', most_appearing_word)

the words count starting with t is  22

In [14]:
#installing Python library  openpyxl to read/write Excel 2010 xlsx/xlsm/xltx/xltm files
!pip install openpyxl -q

#read course file
df_course = pd.read_excel('/Users/chitra/Documents/Subjects/Analytic Python/assignment/Course_info.xlsx')
#read regis file
df_regis = pd.read_csv('/Users/chitra/Documents/Subjects/Analytic Python/assignment/Registration.csv')

In [15]:
#checking for nulls 
df_course.isnull().sum()
df_course

,Course number,Course Name,Course Type
0,ARTS400,EXPERIMENTAL WRITING SEM: The Ecology of Poetry,C
1,ARTS401,ART: ancient to 1945,C
2,ARTS465,ENVIRONMENTAL SYSTEMS II,F
3,ARTS486,COMPUTER LINEAR ALGEBRA,F
4,ARTS512,ANALYTICAL MECHANICS,F
5,ARTS514,A WORLD AT WAR,F
6,ARTS516,BEHAVIORAL PHARMACOLOGY,F
7,ARTS518,CONTEMPORARY AFRICAN ART,F
8,ARTS520,FOOD/FEAST ARCH OF TABLE,F
9,ARTS488,DEVIL'S PACT LIT/FILM,E
10,ARTS541,AMERICAN SOCIAL POLICY,E
11,ARTS543,ART AND RELIGION,E
12,ARTS491,CONTEMPORARY POL.THOUGHT,E
13,ARTS492,AFRICAN-AMERICAN LIT: AFRICAN-AMER LIT:CHANGE,E
14,ARTS493,AMERICAN HEALTH POLICY,E
15,ARTS494,Business German: A Micro Perspective,E
16,ARTS495,COMM and THE PRESIDENCY,E
17,ARTS496,French Thought Till 1945,E
18,ARTS497,CONTEMP ART - 1945 to PRESENT,E
19,ARTS545,20th Century Russian Literature: Fiction and R...,E
20,ARTS547,COMMUNICATIONS INTERNSHP,E
21,ARTS549,FRESHWATER ECOLOGY,E
22,ARTS551,AESTHETICS,E
23,ARTS553,French Thought Since 1945,E
24,ARTS555,BECOMING HUMAN,E
25,ARTS485,EVIDENCED BASED CRIME AND JUSTICE POLICY,E
26,ARTS484,EUROPE IN A WIDER WORLD,E
27,ARTS557,19TH-CENTURY BRITISH LITERATURE,E
28,ARTS559,AMERICAN SOUTH 1861-PRES,E
29,ARTS561,AUGUSTAN CULTRAL REVOLUTION,E
30,ARTS565,Environmental Studies Research Seminar Junior ...,E
31,ARTS567,NaN,E
32,ARTS569,CELL. BIOL. & BIOCHEM.,E
33,ARTS571,FRANCE & THE EUROP.UNION,E
34,ARTS573,ANALYZING THE POL WORLD,E
35,ARTS575,EARLY MESOPOTAM HISTORY/SOCIETY,E
36,ARTS577,FRANCE & THE EUROP.UNION,E
37,ARTS579,EARLY BALCAN HIST/SOC,E
38,ARTS581,COMPARATIVE POLITICS,E
39,ARTS583,BRITISH POETRY 1660-1914,E
40,ARTS585,CONTEMPORARY SOCIO THEORY,E
41,ARTS587,ELEMENTARY ARABIC II,E

In [16]:
# handling null for course name 
#df_course.columns 
df_course[['Course Name ']] = df_course[['Course Name ']].fillna(value=0)

In [17]:
df_course.isnull().sum()

Course number    0
Course Name      0
Course Type      0
dtype: int64

In [18]:
df_regis.isnull().sum()

Student name    0
semester new    0
coursename      1
dtype: int64

In [19]:
# checking count for each count, handling null for these course name
df_regis['coursename'].value_counts()

COMPUT LINEAR ALGEBRA         411
Environmental Case Studies    402
A WORLD AT WAR                368
BEHAVIORAL PHARMACOLOGY       354
ANALYTICAL MECHANICS          350
                             ...
EURO INT'L REL SINCE WW1        1
ASIAN AMER COMM FLD WRK         1
AMERICAN SOCIETY                1
CONVERSATION AND COMPOSI        1
FR FOR PROFESSIONS II           1
Name: coursename, Length: 168, dtype: int64

In [20]:
# filling with most taken course
df_regis['coursename'] = df_regis['coursename'].fillna('COMPUT LINEAR ALGEBRA')

In [21]:
df_regis.isnull().sum()

Student name    0
semester new    0
coursename      0
dtype: int64

In [22]:
df_regis['coursename'].value_counts()

COMPUT LINEAR ALGEBRA         412
Environmental Case Studies    402
A WORLD AT WAR                368
BEHAVIORAL PHARMACOLOGY       354
ANALYTICAL MECHANICS          350
                             ...
EURO INT'L REL SINCE WW1        1
ASIAN AMER COMM FLD WRK         1
AMERICAN SOCIETY                1
CONVERSATION AND COMPOSI        1
FR FOR PROFESSIONS II           1
Name: coursename, Length: 168, dtype: int64

In [23]:
print('The highest registered course is COMPUT LINEAR ALGEBRA ')

The highest registered course is COMPUT LINEAR ALGEBRA

In [24]:
# making column names same in both data set
df_regis.rename(columns={"coursename":"Course Name "},inplace=True)

In [25]:
df_regis

,Student name,semester new,Course Name
0,Bill Mumy,Fall 2004,BEHAVIORAL PHARMACOLOGY
1,Bill Mumy,Fall 2000,AMERICAN FOREIGN POLICY
2,Bill Mumy,Fall 2003,"DRUGS, BRAIN AND MIND"
3,Bill Mumy,Fall 2005,Environmental Case Studies
4,Bill Mumy,Fall 2000,COMPUTER LINEAR ALGEBRA
...,...,...,...
4895,Stacy Keach,Summer 2001,CELL. BIOL. And BIOCHEM.
4896,Ann Landers,Summer 2004,AMERICAN HEALT POLICY
4897,Ann Landers,Summer 2004,ANALYTICAL MECHANICS
4898,Tyne Daly,Summer 2004,COMPUT LINEAR ALGEBRA
4899,Tyne Daly,Summer 2004,EXPERIMENTAL WRITING SEM: The Ecology of Poetry

In [26]:
#merging data by joining based on column course name
df_merge = pd.merge(df_course, df_regis, on='Course Name ', how='inner')

In [27]:
#dropping exact duplicates
df_merge = df_merge.drop_duplicates()

In [28]:
df_merge

,Course number,Course Name,Course Type,Student name,semester new
0,ARTS400,EXPERIMENTAL WRITING SEM: The Ecology of Poetry,C,Bill Blass,Fall 2003
2,ARTS400,EXPERIMENTAL WRITING SEM: The Ecology of Poetry,C,Lucille Ball,Summer 2004
3,ARTS400,EXPERIMENTAL WRITING SEM: The Ecology of Poetry,C,Gary Remal,Spring 2002
4,ARTS400,EXPERIMENTAL WRITING SEM: The Ecology of Poetry,C,John Paul Stevens,Spring 2001
5,ARTS400,EXPERIMENTAL WRITING SEM: The Ecology of Poetry,C,Ellen Burstyn,Fall 2003
...,...,...,...,...,...
2378,ARTS587,ELEMENTARY ARABIC II,E,Maureen Stapleton,Spring 2004
2379,ARTS587,ELEMENTARY ARABIC II,E,Reed Arvin,Spring 2005
2380,ARTS587,ELEMENTARY ARABIC II,E,Steve Berry,Spring 2004
2382,ARTS587,ELEMENTARY ARABIC II,E,Soupy Sales,Spring 2001
2383,ARTS587,ELEMENTARY ARABIC II,E,Ed Asner,Summer 2004

In [29]:
df_new = df_merge

In [30]:
df_new.set_index('Student name')
df_new = pd.get_dummies(df_new, columns=['Course number'])

In [31]:
#checkign new data frame 
df_new.columns

Index(['Course Name ', 'Course Type', 'Student name', 'semester new',
       'Course number_ARTS400', 'Course number_ARTS401',
       'Course number_ARTS465', 'Course number_ARTS484',
       'Course number_ARTS485', 'Course number_ARTS486',
       'Course number_ARTS488 ', 'Course number_ARTS491',
       'Course number_ARTS492 ', 'Course number_ARTS493',
       'Course number_ARTS494', 'Course number_ARTS495 ',
       'Course number_ARTS497', 'Course number_ARTS512',
       'Course number_ARTS514', 'Course number_ARTS516',
       'Course number_ARTS518', 'Course number_ARTS520',
       'Course number_ARTS543 ', 'Course number_ARTS545 ',
       'Course number_ARTS547', 'Course number_ARTS549',
       'Course number_ARTS551', 'Course number_ARTS553 ',
       'Course number_ARTS555', 'Course number_ARTS559 ',
       'Course number_ARTS565', 'Course number_ARTS569 ',
       'Course number_ARTS571 ', 'Course number_ARTS573',
       'Course number_ARTS577', 'Course number_ARTS581 ',
       'Course number_ARTS583 ', 'Course number_ARTS587'],
      dtype='object')

In [32]:
df_new.drop(['Course Name ','Course Type','semester new'],axis=1,inplace=True)

In [33]:
df_new2 = df_new[['Student name','Course number_ARTS400','Course number_ARTS401']]

In [34]:
df_new.rename(columns={"Course number_ARTS400":"ARTS400","Course number_ARTS401":"ARTS401"},inplace=True)

In [35]:
df_new

,Student name,ARTS400,ARTS401,Course number_ARTS465,Course number_ARTS484,Course number_ARTS485,Course number_ARTS486,Course number_ARTS488,Course number_ARTS491,Course number_ARTS492,...,Course number_ARTS555,Course number_ARTS559,Course number_ARTS565,Course number_ARTS569,Course number_ARTS571,Course number_ARTS573,Course number_ARTS577,Course number_ARTS581,Course number_ARTS583,Course number_ARTS587
0,Bill Blass,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Lucille Ball,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Gary Remal,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,John Paul Stevens,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Ellen Burstyn,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2378,Maureen Stapleton,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2379,Reed Arvin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2380,Steve Berry,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2382,Soupy Sales,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2383,Ed Asner,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [36]:
#new data frame with student name as index 
df_new2.sort_values('Student name',axis=0,inplace=True)
df_new2 = df_new2.drop_duplicates().head(4)
df_new2

<ipython-input-36-9790bd5e7164>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new2.sort_values('Student name',axis=0,inplace=True)

      Student name  Course number_ARTS400  Course number_ARTS401
2275  ABella Abzug                      0                      0
1449       Al Gore                      0                      0
153        Al Hirt                      0                      0
82        Al Roker                      1                      0

## Problem 3

In [37]:
df = pd.read_csv('/Users/chitra/Documents/Subjects/Analytic Python/assignment/breast_cancer-1.csv')

In [38]:
df.head(10)

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
5,1017122,8.0,10.0,10,8,7,10,9.0,7.0,1,malignant,Dr. Smith
6,1018099,1.0,NaN,1,1,2,10,3.0,1.0,1,benign,Dr. Doe
7,1018561,2.0,1.0,2,1,2,1,3.0,1.0,1,benign,Dr. Smith
8,1033078,2.0,1.0,1,1,2,1,1.0,1.0,5,benign,Dr. Smith
9,1033078,4.0,2.0,1,1,2,1,2.0,1.0,1,benign,Dr. Doe

In [39]:
#dropping rows which has null
df.dropna(axis=0, inplace=True)

In [40]:
df.isnull().sum()

patient_id               0
clump_thickness          0
cell_size_uniformity     0
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              0
bland_chromatin          0
normal_nucleoli          0
mitoses                  0
class                    0
doctor_name              0
dtype: int64

In [41]:
# making class label ‘benign’ as 0 and ‘malignant’ as 1 in the dataset using dictionary
df['class'].replace({'benign': 0,'malignant':1}, inplace=True)

In [42]:
# checking the class values
print(df['class'].unique())

[0 1]

In [43]:
# creating new variable cell_type_label and setting initial value as null
df['cell_type_label'] = np.NaN

In [44]:
#checking newly created columns 
df

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name,cell_type_label
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,0,Dr. Doe,NaN
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,0,Dr. Smith,NaN
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,0,Dr. Lee,NaN
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,0,Dr. Smith,NaN
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,0,Dr. Wong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,0,Dr. Lee,NaN
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,0,Dr. Smith,NaN
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,1,Dr. Lee,NaN
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,1,Dr. Lee,NaN
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,1,Dr. Wong,NaN

In [45]:
#based on condition filing the value for cell_type_label
for i in range(df.shape[0]):
    if df.iloc[i]['cell_size_uniformity'] > 5.0 and df.iloc[i]['cell_shape_uniformity'] > 6.0:
        df['cell_type_label'].iloc[i] = 'Normal'    
    else:
        df['cell_type_label'].iloc[i] = 'Abnormal'

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [46]:
df

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name,cell_type_label
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,0,Dr. Doe,Abnormal
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,0,Dr. Smith,Abnormal
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,0,Dr. Lee,Abnormal
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,0,Dr. Smith,Normal
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,0,Dr. Wong,Abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,0,Dr. Lee,Abnormal
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,0,Dr. Smith,Abnormal
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,1,Dr. Lee,Normal
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,1,Dr. Lee,Abnormal
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,1,Dr. Wong,Normal

In [47]:
# Finding the subset of the that has ‘abnormal’ cell_type_label
df[df['cell_type_label']=='Abnormal']

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name,cell_type_label
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,0,Dr. Doe,Abnormal
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,0,Dr. Smith,Abnormal
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,0,Dr. Lee,Abnormal
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,0,Dr. Wong,Abnormal
7,1018561,2.0,1.0,2,1,2,1,3.0,1.0,1,0,Dr. Smith,Abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,714039,3.0,1.0,1,1,2,1,1.0,1.0,1,0,Dr. Wong,Abnormal
693,763235,3.0,1.0,1,1,2,1,2.0,1.0,2,0,Dr. Lee,Abnormal
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,0,Dr. Lee,Abnormal
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,0,Dr. Smith,Abnormal
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,1,Dr. Lee,Abnormal